Flask
Werkzeug
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
email-validator
WTForms
Flask-Mail
Pillow
python-dotenv
Flask-Login
Flask-Bcrypt
Flask-CORS
python-dateutil
PyJWT
Flask-Caching
requests
beautifulsoup4
gunicorn
gevent
